---
title: Theater Volta
og:
  title: "Theater Volta"
  image: "/logo.svg"
  content: "Volta Projects is een zooitje ongeregeld van creatievelingen die samen theater bedrijven. Hun stukken zijn onconventioneel en toch zo herkenbaar. Zonder te choqueren, maar met ongebreidelde ontroering en een passie voor menselijkheid."
---

<div class="flex flex-wrap items-stretch w-100 min-vh-100">
  <div class="w-50 w-third-ns tc pa4 background-logo">
    <img src="/logo.svg" alt="Logo Volta Projects" />
  </div>

  <div class="w-50 w-third-ns">
    <%= render "/partials/picture.erb",
    image: '/images/momentum-help.jpg',
    factor: 2,
    alt: "Spotlicht op een brancardier die boven een bewusteloze soldaat knielt en om hulp roept." %>
  </div>

  <div class="w-50 w-third-ns">
    <%= render "/partials/picture.erb",
    image: '/images/kosmos-liefde-3.jpg',
    factor: 2,
    alt: "Vrouw in tijgerkleedje op hoge hakken kijkt hoopvol en wordt geflankeerd door twee paar schreeuwende personen." %>
  </div>

  <div class="w-100 flex-grow">
    <div class="flex justify-center items-center ma2">
      <div class="white-70 f3 measure">
        <p class=""><span class="white-90">Volta Projects</span> is een zooitje ongeregeld van creatievelingen die samen theater bedrijven. Hun stukken zijn onconventioneel en toch zo herkenbaar. Zonder te choqueren, maar met ongebreidelde ontroering en een passie voor menselijkheid.
        <p>
        <p>Ons volgend project:</p>
        <a class="white-90 no-underline" href="/flush">
          <p class="tc outline pa2"><span class="b">Flush</span> — 4 november 19u30 — GC Den Tap Lendelede</p>
        </a>
      </div>
    </div>
  </div>

  <div class="w-50 w-third-ns self-end">
    <%= render "/partials/picture.erb",
    image: '/images/kosmos-rien-charlotte.jpg',
    factor: 2,
    alt: "Donker beeld van een man in overhemd met vrouw die hem vast heeft aan zijn schouders en in zijn oor fluisterd." %>
  </div>


  <div class="w-50 w-third-ns self-end">
    <%= render "/partials/picture.erb",
    image: '/images/momentum-bert.jpg',
    factor: 2,
    alt: "Man in blauw licht en mist richt zich omhoog met handen uitgestrekt. Achter hem staan soldaten in een verplichte deuropening." %>
  </div>

  <div class="w-50 w-third-ns self-end">
    <%= render "/partials/picture.erb",
    image: '/images/momentum-cirkel.jpg',
    factor: 2,
    alt: "Vijf personen in brancardierskleding zitten in een cirkel in het midden van een kerk." %>
  </div>
</div>

